[submodule "proto/api"]
	path = proto/api
	url = /Users/dan/src/temporalio/api
	branch = oss-2147-reapply-types-prep
[submodule "develop/docker-compose/grafana/provisioning/temporalio-dashboards"]
	path = develop/docker-compose/grafana/provisioning/temporalio-dashboards
	url = https://github.com/temporalio/dashboards
